﻿@using coffeeapp.Models.dbcoffee;
<div class="container">
    @*@using (html.beginform("login", "home"))
    {
        if (session["taikhoan"] != null && session["taikhoan"] != "")
        {
            employee nv = (employee)session["taikhoan"];
            <h1>dang nhap thanh cong</h1>
        }
        else
        {
            <label for="uname"><b>username</b></label>
            <input type="text" placeholder="enter username" name="uname" required>

            <label for="psw"><b>password</b></label>
            <input type="password" placeholder="enter password" name="psw" required>

            <button type="submit">login</button>
        }
   }*@
</div>